<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My School</title>
  <link rel="stylesheet" href="/public/style.css">
  <link rel="stylesheet" href="/public/principal_message.css">
  <link rel="stylesheet" href="/CSS/footer.css">
  <!-- FontAwesome for icons -->
  <!-- FontAwesome 6 CDN -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-yH1oDFak6i0bszq+2Kc1YZFP9N6Zkq7c+JmZL49vZPJuDxRwRyQ4tGpZB3hD6Xc+RA6mQ0N+FZ8FbF69Fdu6TA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar">
    <div class="logo">
        <img src="/images/school-logo.png" alt="">
        <p>Khirshin S.K High School</p>
    </div>
    <ul class="menu">
      <li><a href="index.html">Home</a></li>
      <li class="dropdown">
        <a href="#">About Us ▾</a>
        <ul class="dropdown-content">
          <li><a href="principal-message.html">Principal's Message</a></li>
          <li><a href="history_of_school.html">History of Our School</a></li>
          <li><a href="Teacher_list.html">Teacher List</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">Notice Board ▾</a>
        <ul class="dropdown-content">
          <li><a href="exam_notice.html">Exam Notice</a></li>
          <li><a href="academic_notice.html">Academic Notice</a></li>
          <li><a href="Admission-notice.html">Admission Notice</a></li>
          <li><a href="Event_notice.html">Event Notice</a></li>
          <li><a href="Result.html"> Result</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">Student Affairs ▾</a>
        <ul class="dropdown-content">
          <li><a href="#">School Uniform</a></li>
          <li><a href="#">School Timing</a></li>
          <li><a href="photo-galarry.html">Photo Gallery</a></li>
          <li><a href="#">Awards</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="message-container">
        <div class="head-section">
            <h2>Principal’s Message</h2>
            <img src="/images/head_sir.jpg" alt="">
       </div>


          <div class="message">
                    
            
            <p>
                It is with great pride and pleasure that I <span style="color: red; ">Welcomew you</span> to the official website of 
                <strong>Khirshin S.K High School</strong>. Our school has always been committed to providing 
                quality education, fostering discipline, and nurturing the overall development 
                of every student.
            </p>
            <p>
               At <strong>Khirshin S.K High School</strong>, we believe that true education goes beyond academic 
               excellence. It is about shaping character, instilling values, and preparing young 
                minds to become responsible, compassionate, and capable individuals who can 
                contribute positively to society.
            </p>
            <p>
               With best regards,<br>
              <strong>S.M Morshed Alom</strong><br>
              Principal, <strong>Khirshin S.K High School</strong>
            </p>
            

         </div>

     </div>

  

 <footer>
        <div class="row">
            <!-- Contact -->
            <div class="col">
                <h3>Contact Us</h3>
                <ul>
                    <li><a href="">Email: info@gstu.edu</a></li>
                    <li><a href="">Phone: +880 1234-567890</a></li>
                    <li><a href="">Address: Gazipur, Bangladesh</a></li>
                </ul>

            </div>

            <!-- Quick Links -->
            <div class="col">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about.html">About Us</a></li>
                    <li><a href="/courses.html">Courses</a></li>
                    <li><a href="/contact.html">Contact</a></li>
                </ul>
            </div>

            <!-- Social Media -->
            <div class="col">
                <h3>Follow Us</h3>
                <ul>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">LinkedIn</a></li>
                    <li><a href="">YouTube</a></li>


                </ul>

            </div>

            <!-- About -->
            <div class="col">
                <h3>About GSTU</h3>
                <ul>
                     <li><a href="">GSTU is committed to providing world-class education and research facilities to build the future
                    leaders of tomorrow.</a></li>
                </ul>
               
            </div>
        </div>

        <hr>

        <p>&copy;<span id="year"></span> All Rights Reserved By GSTU</p>
    </footer>

</body>
</html>
